.shopping-cart{
    margin: 0 auto;
    width: 800px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.item{
    padding: 5px 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e1e8ee;
}
.title-cart{
    height: 60px;
    border-bottom: 1px solid #e1e8ee;
    padding: 20px 30px;
    font-size: 25px;
    font-weight: 800;
}

.product-image{
    margin-right: 50px;
    object-fit: cover;

}

.product-image img{
    width: 120px;
    height: 80px;
}

.footer{
    height: 60px;
    padding: 20px 30px;
    font-size: 25px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.description{
    padding-top: 5px;
    margin-right: 60px;
    min-width: 200px;
}

.description span{
    display: block;
    margin-top: 5px;
    font-size: 18px;
    color: #000;
    font-weight: 700;
}

.description span:last-child{
    font-weight: 300;
    margin-top: 8px;
    color: #86939e;
}

.quantity{
    padding-top: 20px;
    margin-right: 60px;
}

.quantity input{
    border: none;
    text-align: center;
    width: 32px;
    font-weight: 300;
    font-size: 18px;
}

.plus-btn,.minus-btn{
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.plus-btn img{
    margin-top: 3px;
}

.minus-btn img {
    margin-bottom: 3px;
}

.total-price{
    width: 83px;
    padding-top:  15px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;    
}

.remove{
    margin-top: 20px;
    position: relative;
    margin-left: 60px;
}

.remove img {
    cursor: pointer;
}

.empty{
    height: 60px;
    border-bottom: 1px solid #e1e8ee;
    padding: 20px 30px;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    color: red;
}