.header {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.header p {
    margin: 0 20px;
    cursor: pointer;
    font-size: 16px;  
    color: black; 
}

.header p:hover{
    color: #6aa10b;
}


a{
    text-decoration: none;
}